#users-table table  .mat-header-row {
    background-color: wheat;
}

#users-table mat-paginator  {
    background-color: whitesmoke;
}

#users-table table .selected-row    {
    background-color: lightgray;
}