<div class="container w-100 h-100">

    <!-- <p>users-page works!</p>
    <button class="btn btn-primary">Primary</button> -->
    <div class="row my-2">
        <header>
            <div class="text-center text-danger">
                <h2 >ADMIN UI PAGE</h2>
            </div>
        </header>
    </div>
    
    <div class="row my-2">
        <div class="col-sm-4 ms-0 ps-0">
            <button class="btn btn-lg rounded-pill bi bi-trash3-fill"
            [class.text-danger]="!toggleDelete"
            [class.text-dark]="toggleDelete"
            [disabled]="toggleDelete" (click)="deleteUsers()"
            matTooltip="delete selected"></button>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" (keyup)="applyFilter($event)" placeholder="apply filter...">
        </div>
    </div>

    <div class="row mat-elevation-z8" id="users-table">

        <table mat-table [dataSource]="dataSource" >

            <!-- CheckBox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? addSelection(row, $event) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <!-- Name Column-->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>NAME</th>
                <td mat-cell *matCellDef="let element">
                    <p class="py-0 my-0" *ngIf="!element?.edit" [class.text-danger]="element?.edit">{{element.name}}</p>
                    <input *ngIf="element?.edit" type="text" name="new-name" id="new-name" [(ngModel)]="element.name"></td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef>EMAIL</th>
                <td mat-cell *matCellDef="let element">
                    <p class="py-0 my-0" *ngIf="!element?.edit" [class.text-danger]="element?.edit">{{element.email}}</p>
                    <input *ngIf="element?.edit" type="text" name="new-email" id="new-email" [(ngModel)]="element.email">
                </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="Role">
                <th mat-header-cell *matHeaderCellDef>ROLE</th>
                <td mat-cell *matCellDef="let element">
                    <p class="py-0 my-0" *ngIf="!element?.edit" [class.text-danger]="element?.edit">{{element.role | titlecase}}</p>
                    <input  *ngIf="element?.edit" type="text" name="new-role" id="new-role" [(ngModel)]="element.role"></td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="!element?.edit" class="mx-1 btn btn-outline border-0 btn-sm rounded-pill bi bi-pencil-fill text-success" 
                    (click)="editUser(element)" matTooltip="edit user"></button>
                    <button *ngIf="element?.edit" class="mx-1 btn btn-outline border-0 btn-sm rounded-pill bi bi-check-square-fill text-success"
                     type="submit" (click)="editUser(element)" matTooltip="save changes"></button>
                    <button class="mx-1 btn btn-outline border-0 btn-sm rounded-pill bi bi-trash3-fill text-danger"
                    (click)="removeUser(element.id)" matTooltip="delete user"></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row [class.selected-row]="selectedRows.has(row)" *matRowDef="let row; columns: tableColumns;"></tr>

            <!-- If there is no data available -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4"> No Data </td>
            </tr>
            
        </table>
        <ng-container *ngIf="errorFetching || loadingTable">
            <table>
                <tr *ngIf="loadingTable">
                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                </tr>
                <tr *ngIf="errorFetching" class="mat-row">
                    <td collspan="4" class="mat-cell text-danger text-center">Failed getting users !</td>
                </tr>
            </table>    
        </ng-container>

            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
        aria-label="select page of users" id="users-table-paginator"></mat-paginator>
        
    </div >

    <div class="row my-4">
        <footer>
            <small>Developed using Angular Material and Bootstrap.</small>
        </footer>
    </div>
</div>